<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>PL Extension Granter</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <div class="card mx-auto mt-3 mb-3" style="width: 32rem;">
        <div class="card-body">
            <h5 class="card-title">PL Extension Granter</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text">When you are finished entering NetIDs, make sure to sync the respective PrairieLearn with GitHub. Follow the link to your class' PrairieLearn and click the <code>Pull from remote git repository</code> button.</p>

            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <a class="btn btn-primary" href="https://www.prairielearn.org/pl/course/301/course_admin/syncs" target="_blank" rel="noopener noreferrer" class="card-link">CS 128 Honors</a>
                    </div>
                    <div class="col text-center">
                        <a class="btn btn-primary" href="https://www.prairielearn.org/pl/course/380/course_admin/syncs" target="_blank" rel="noopener noreferrer" class="card-link">CS 124 Honors</a>
                    </div>
                </div>
            </div>
        <div class="form-body">
            <div class="row">
                <div class="form-holder">
                    <div class="form-content">
                        <div class="form-items">
                            <br>
                                <form class="requires-validation" id="extensionform" method="POST" onsubmit="return check();" novalidate>
                                    <div class="col-md-12">
                                        <label for="netids">Enter NetIDs separated by commas (spaces are ignored):</label>
                                        <input class="form-control" id="netids" type="text" name="netids" placeholder="Comma-separated NetIDs" required>
                                        <div class="valid-feedback">NetIDs field is valid!</div>
                                        <div class="invalid-feedback">NetIDs field cannot be blank!</div>
                                    </div>

                                    <br>

                                    <div class="col-md-12">
                                        <input class="form-control" id="assignment" type="assignment" name="assignment" placeholder="Assignment (ex: MP0 or HW3 or PR1 etc...)" required>
                                        <div class="valid-feedback">Assignment field is valid!</div>
                                        <div class="invalid-feedback">Assignment field cannot be blank!</div>
                                    </div>
                                    
                                    <br>

                                    <div class="col-md-12">
                                        <label for="duedate">Enter the due date for the extension:</label>
                                        <input class="form-control duedate" type="date" id="duedate" name="duedate" min="2022-01-01" required>
                                        <div class="valid-feedback">Due date field is valid!</div>
                                        <div class="invalid-feedback">Due date field cannot be blank!</div>
                                    </div>
                                   
                                    <br>
                                    <div class="col-md-12">
                                        <label for="exttime">Enter the due time for the extension:</label>
                                        <input type="time" id="exttime" name="exttime" value="23:59:59" step="1" required>                                        
                                        <div class="valid-feedback">Due time field is valid!</div>
                                        <div class="invalid-feedback">Due time field cannot be blank!</div>
                                    </div>

                                    <br>
                                    <div class="col-md-12">
                                        <label for="exttime">Enter the max credit for the extension:</label>
                                        <input type="number" id="creditfield" placeholder="credit" step="10" min="0" max="100" value="100" required>
                                        <div class="valid-feedback">Credit field is valid!</div>
                                        <div class="invalid-feedback">Credit field cannot be blank!</div>
                                    </div>

                                    
                                    <!-- <br>
                                    <div class="col-md-12">
                                        <label for="semeterselect">Select the current semester:</label>
                                        <select class="form-select" id="semester" required>
                                            <option selected value="SP22">SP22</option>
                                        </select>
                                            <div class="valid-feedback">You selected a a semester!</div>
                                            <div class="invalid-feedback">Please select a semester!</div>
                                    </div> -->

                                    <br>

                                    <div class="col-md-12">
                                        <label for="duedate">Enter your GitHub Auth Token (<a href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token" target="_blank" rel="noopener noreferrer">Create a token here</a>):</label>
                                        <input class="form-control" id="github_token" type="github_token" name="github_token" placeholder="GitHub Auth Token" required>
                                        <div class="valid-feedback">GitHub Auth Token field is valid!</div>
                                        <div class="invalid-feedback">GitHub Auth Token field cannot be blank!</div>
                                    </div>

                                    <div class="col-md-12 mt-3">
                                        <label class="mb-3 mr-1" for="gender">Course: </label>

                                        <input type="radio" class="btn-check" name="course" id="CS128H" autocomplete="off" required>
                                        <label class="btn btn-sm btn-outline-secondary" for="CS128H">CS 128 Honors</label>

                                        <input type="radio" class="btn-check" name="course" id="CS124H" autocomplete="off" required>
                                        <label class="btn btn-sm btn-outline-secondary" for="CS124H">CS 124 Honors</label>

                                        <div class="valid-feedback mv-up">Course selection is valid!</div>
                                        <div class="invalid-feedback mv-up">Please select a course!</div>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                        <label class="form-check-label">I confirm that all the data is correct</label>
                                        <div class="invalid-feedback">Please confirm that the data you entered is all correct!</div>
                                    </div>

                                    <p class="card-text mv-up" id="message"></p>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col text-center">
                                                <div class="form-button mt-3">
                                                    <button id="submit" type="submit" class="btn btn-primary">Grant Extension(s)</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function check(event) {
            const url = "/api/grant";
            var cs124 = document.getElementById('CS124H');
            var cs128 = document.getElementById('CS128H');
            
            var repo_name;
            if (cs128.checked) {
                repo_name = 'pl-cs19628';
            } else {
                repo_name = 'pl-cs124h';
            }

            const data = {
                'netids' : document.getElementById('netids').value,
                'date': document.getElementById('duedate').value,
                'time': document.getElementById('exttime').value,
                'assignment': document.getElementById('assignment').value,
                'repo_name': repo_name,
                'semester': "SP22",
                'github_token': document.getElementById('github_token').value,
                'credit': document.getElementById('creditfield').value
            };

            console.log(data);

            fetch("/api/grant", {
                "method": "POST",
                "mode" : "cors",
                "headers": {
                    "Content-Type": "application/json; charset=UTF-8"
                },
                "body": JSON.stringify(data)
            })
            .then(function(response) {
                response.json().then((data) => {
                    console.log(data);
                    document.getElementById('message').innerHTML = data.message;
                });
            })
            .catch(err => {
                console.error(err);
                document.getElementById('message').innerHTML = err;
            });
            return false;
        }
    </script>
    <script>
        var form = document.getElementById("extensionform");
        function handleForm(event) { event.preventDefault(); } 
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="/static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>